<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">

			{{#if title}}
				<title>{{title}}</title>
			{{else}}
				<title>cars demo</title>
			{{/if}}

			{{#each earlyScripts}}
				<script type="text/javascript" src="{{this}}"></script>
			{{/each}}

		</head>
	<body>
		<ul>
			{{#each serverMessages}}
				<li>{{{this}}}</li>
			{{/each}}
		</ul>

		{{{body}}}

		{{#each lateScripts}}
			<script type="text/javascript" src="{{this}}"></script>
		{{/each}}
	</body>
</html>